body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.sathish{
  color : white;
}
body{
  background-color: violet;
}
.bala{
  color:black;
}
.App
{
  border: 5px solid black;
  border-radius: 20px;
  padding: 20px;
  padding-top: 50px;
  margin: 70px;
  display: flex;
}
.bala
{
  border: 8px solid orange;
  border-radius: 20px;
  padding: 20PX;
  margin: 100px;
   font-size: 40px;
  font-weight: 500;
  color: blue;
  word-spacing: 5px;
 
}
.sathish
{
  border: 8px solid rgb(0, 110, 0);
  border-radius: 20px;
  padding: 30PX;
  margin: 10px;
   font-size: 40px;
  font-weight: 500;
  color:aqua;
  word-spacing: 2px;
}
.para
{
  border: 8px solid red;
  border-radius: 60px;
  padding: 40PX;
  margin: 100px;
   font-size:24px;
  font-weight: 200;
  font-family: cursive;
  word-spacing: 5px;
}
body{
  background: url('./back1.webp');
}