.forgot{
    font-size: 15px;
    color: orangered;
    text-decoration: none;
    margin-bottom: 5px;
}
.forgot:hover{
    color: green;
    text-decoration: underline;
    cursor: default;
    font-size: large;
}
button{
    color:white;
    background-color: rgb(232, 27, 232);
    border: none;
    border-radius: 10px;
    width: 150px;
    height: 40px;
}
button:hover{
    background-color: beige;
    color: black;
}
.log{
    border:solid 2px grey;
    width: 30%;
    height: 60vh;
    margin: 150px;
    background-color: whitesmoke;
}
input{
    height: 30px;
    width: 60%;
    border-radius: 10px;
    margin: 10px;
}
